@import "./base.css";

@font-face{
  font-family: 'Lust Slim Display';
  src: url('./fonts/Lust_Slim_Display.ttf') format('opentype'),
  url('./fonts/Lust_Slim_Display.otf') format('truetype');

  font-stretch : normal;
  font-weight : normal;
  font-style : normal;
}

@font-face{
  font-family: 'Lust Slim Display';
  src: url('./fonts/Lust_Slim_Display_Italic.ttf') format('opentype'),
  url('./fonts/Lust_Slim_Display_Italic.otf') format('truetype');

  font-stretch : normal;
  font-weight : normal;
  font-style : italic;
}

* {
  cursor: none !important;
}

h1, h2, h3 {
  font-family: 'Lust Slim Display';
  font-size: 8vw;
  line-height: 15vw;
}
h2 {
  font-size: 6vw;
  line-height: 6vw;
}
h3 {
  font-size: 3.6vw;
  line-height: 3.6vw;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.text-stroke {
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: .03vw;
  -webkit-text-stroke-color: #d9d9d9;
  transition: color .4s;
}
.text-stroke:hover,
a:hover .text-stroke {
  color: #d9d9d9;
}

.highlighted {
  position: relative;
}
.highlighted:after {
  content: "";
  opacity: .8;
  display: block;
  position: absolute;
  z-index: -9999;
  left: -2.5%;
  bottom: -10%;
  height: 50%;
  width: 105%;
  background-color: #9678B6;
  transition: width .4s;
}
.highlighted:hover:after,
a:hover .highlighted:after {
  width: 0%;
}

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #d9d9d9;
  line-height: 19px;
}

section {
  margin: 0 auto 200px auto;
}


section.container {
  max-width: 940px;
  width: 65vw;
}

section.container .title {
  max-width: 700px;
  width: 38vw;
  margin: 0 auto;
}

section.container h2.text-stroke {
  text-align: right;
}

a {
  color: #d9d9d9;
  text-decoration: none;
  transition: 0.4s;
}

.purple {
  color: #9678B6;
  text-decoration: none;
  transition: 0.4s;
}
